* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top,
    #ff6b95,
    #ff9e6d,
    #ffd166,
    #b8b8ff,
    #cdb4db
    );

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 20px;
}

ul, ol {
    list-style-position: inside;
}

img {
    border: solid 3px brown;
}

