* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top  ,
    orange,
    #feb47b,
    #ffd89b,
    #86a8e7,
    #5a67a1
    );

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 20px;
}

ul, ol {
    list-style-position: inside;
}

img {
    border: solid 3px green;
}

