* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top  ,
    #0a0a0f,
    #121829,
    #1e1b4b,
    midnightblue,
    #6366f1
    );
    color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    font-size: 20px;
}

ul, ol {
    list-style-position: inside;
}

img {
    border: solid 3px salmon;
}

a {
    color:cyan;
}

a:hover {
    color: aliceblue;
}
